body {
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background: #F5F7FA;
}

.box-shadow-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);  
}

.main-content-container {
    width: 69.17%;
    background: #FFFFFF;
    padding-top: 100px;
    padding-left: 90px;
    padding-bottom: 105px;
}
/*! About me section */

.about-me-section {
    max-width: 25em;
}
h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;  
    color: #000000;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}
.about-me-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.main-content-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

/*! My projects section */
.my-projects-section {
    margin-top: 40px;
}
ol {
    padding-left: 15px;
}
.project-li {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 13px;
}
.project-li::marker {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    cursor: pointer;
}
.bracket {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.language {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/*! Work experience section */

.work-experience-section {
    max-width: 32.8em;
    margin-top: 50px;
}
h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.orange-title {
    color: #FB6D3A;

}
.third-company {
    margin-top: 12px;
}
.second-company {
    margin-top: 12px;
}
.first-company {
    margin-top: 12px;
}
/*! Education section */
.education-section {
    margin-top: 45px;
}
.time {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 11px;
}
.task-desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 7px;
}
.task-desc::marker {
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    color: #595959;
}

/*! Sidebar section  */

.sidebar-section {
    background: #1E2939;
    max-width: 30.83%;
    color:#FFFFFF;
}
.sidebar-photo {
    margin-top: 40px;
    height: auto;
    width: 100%;
}
.contacts-section {
    margin-top: 50px;
    margin-left: 40px;
}
.contacts-section-span {
    margin-right: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.tech-skills-section {
    margin-top: 47px;
    margin-left: 40px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.soft-skills-section {
    margin-top: 44px;
    margin-left: 40px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.sidebar-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
ul {
    padding-left: 12px;
}
.orange-li {
    padding-left: 7px;
}
.orange-li::marker {
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    color: #FB6D3A;
}